@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}
body {
    /* background-color: #FDFDFD; */
    background-color: #FDFDFD;
    /* background-image: url(./images/bigspace.svg); */
    margin: 0;
}
#follow-cursor {
    height: 50px;
    width: 50px;
    background-color: #ECECEC;
    position: absolute;
    border-radius: 50%;
    transition: 5s ease-out;
    z-index: -10;
}
.container {
    background-image: url(./images/bigspace.svg);
    max-width: 100vw;
    overflow: hidden;
    gap: 0;
    color: #2D2D36;
}





/* Header */
header {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: 75px;
    margin-bottom: 50px;
}
.header-container {
    /* justify-self: center; */
    align-self: center;
    margin: 20px;
}
.hello-box {
    position: absolute;
    background-color: #ECECEC;
    border-radius: 15px;
    padding: 10px 10px 5px 10px;
    /* transform: rotate(-9deg); */
    font-family: "Josefin Sans";
    font-weight: normal;
    outline: #00000030 2px solid;
    font-size: 12pt;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hello-box img {
    margin-top: -3px;
    margin-right: 2px;
}
.hello-box:hover {
    cursor: grab;
}
.hello-box:hover img {
    animation-name: waving;
    animation-duration: .4s;
    animation-iteration-count: 10;
    animation-direction: alternate;
}
@keyframes waving {
    from {transform: rotate(-10deg);}
    to {transform: rotate(25deg);}
}
h1 {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: clamp(4.5rem, -1.7222rem + 31.1111vw, 8rem);
    margin: 50px 0 0 0;
    color: #FDFD52;
    display: flex;
}


.header-container p {
    color: #ECECEC;
    font-family: 'Josefin Sans';
    margin-top: 0;
    margin-bottom: 20px;
}
.header-container span {
    color: #45C6A6;
    font-weight: bold;
    font-size: 14pt;
}
.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    color: #ECECEC;
    font-family: Lato;
    font-size: 14pt;

    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #00000030;
    transition: .3s;
}
.socials a:last-of-type {
    width: auto;
    padding: 0 10px;
}
.socials img {
    width: 25px;
}

.socials button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    color: #ECECEC;
    font-size: 14pt;
    font-family: Lato;

    height: 50px;
    border-radius: 30px;
    border: none;
    padding: 0 10px;
    background-color: #00000030;
    transition: .3s;
}
.socials button:hover {
    cursor: pointer;
}
.socials button:active {
    color: #45C6A6;
}







/* Navigation */
#desktop-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#desktop-nav-container a, #nav-container-mobile a{
    text-decoration: none;
    color: #ECECEC;
    font-family: 'Josefin Sans';
    font-size: 32pt;
    margin: 10px;
    transition: .3s;
}
#desktop-nav-container ul {
    padding: 0;
    list-style-type: none;
}
#desktop-nav-container li {
    margin: 30px 0;
    transition: .3s;
}
#desktop-nav-container li:hover{
    transform: scale(1.1);
    transition: .3s;
    color: #45C6A6;
}
#desktop-nav-container a {
    margin: 15px;
    transition: .3s;
}
#desktop-nav-container a:hover {
    color: #45C6A6;
    transition: .3s;
}





#mobile-nav-container {
    font-family: 'Josefin Sans';
    background-color: #2d2d36;
    position: fixed;
    z-index: 10;
    right: 20px;
    top: 20px;
    

    height: 50px;
    width: 50px;
    border-radius: 30px;
    outline: #00000030 2px solid;
    overflow: hidden;

    display: flex;
    align-items: center;
    flex-direction: column;

    transition: .3s ease-out;
}
#mobile-nav-container.open {
    height: 400px;
    width: calc(100vw - 40px);
    transition: .3s ease-out;
}
#nav-toggles {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    background-color: #ececec;
    border-radius: 30px;
    outline: #00000030 2px solid;

    height: 50px;
    width: 50px;

    position: absolute;
    z-index: 11;
    transition: .3s ease-out;
}
#nav-toggles.open {
    margin-top: 10px;
    transition: .3s ease-out;
}
#close-button {
    display: none;
}
.nav-line {
    align-self: center;
    min-height: 2px;
    width: 90%;
    margin-top: 35px;
    background-color: #00000030;
}
#mobile-nav {
    transform: translateY(-20px);
    opacity: 0;
    transition: .5s;
}
#mobile-nav.open {
    transform: translateY(20px);
    opacity: 1;
    transition: .5s;
}
#mobile-nav ul {
    list-style-type: none;
    padding: 0;
}
#mobile-nav li {
    margin: 35px 0;
    text-align: center;
    padding: 0 15px 0 15px;
}
#mobile-nav a {
    text-decoration: none;
    color: #ececec;
    font-size: 32pt;
}
#active-page {
    border-left: #00000030 solid 2px;
    border-right: #00000030 solid 2px;
}
#active-page a {
    font-weight: bold;
    color: #45C6A6;
}

















#wave-border-top {
    position: relative;
    height: 20px;
    margin-top: -20px;
    align-self: flex-start;
}
#wave-border-bottom {
    position: relative;
    height: 20px;
    transform: rotate(180deg);
    margin-bottom: -20px;
    align-self: flex-start;
}
#wave-border-footer {
    height: 20px;
}


















/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #ECECEC;
    margin: 0;
}
.main-content {
    max-width: 500px;
    font-family: Lato;
}
.main-content h2 {
    font-family: 'Josefin Sans';
    margin-top: 60px;
}
#short-description {
    margin: auto;
    max-width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    align-self: center;
    

    padding:  5px 15px;
    margin-top: 40px;
    font-family: Lato;

    
    background-color: #FDFDFD;
    outline: #00000030 2px solid;
    border-radius: 30px;
    transition: .3s;
}
#short-description:hover {
    outline: #45C6A6 2px solid;
    transition: .3s;
}
#short-description p {
    max-width: 30ch;
    color: #2D2D36;
    line-height: 1.5;
}


#primary-technologies h2 {
    margin-top: 40px;
}
.technologies, .experience-with-bubbles, .home-project-cards, .courses{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.technologies p, .experience-with-bubbles p, .courses p, .project-tech p {
    font-family: Lato;
    background-color: #FDFDFD;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    border: #00000030 2px solid;
    margin: 0;
    gap: 3px;
    transition: .3s;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.technologies p:hover, .experience-with-bubbles p:hover, .courses p:hover, .project-tech p:hover {
    border: #45C6A6 2px solid;
    transform: scale(1.04);
    transition: .3s;
}
#home-projects a {
    text-decoration: none;
    color: #2D2D36;
    font-weight: bolder;
}
.home-project-cards h3 {
    font-family: 'Josefin Sans';
    padding-bottom: 15px;
    border-bottom: #00000030 2px solid;
    float: left;
}
.home-project-card {
    background-color: #FDFDFD;
    border-radius: 30px;
    padding: 10px;
    border: #00000030 2px solid;
    max-width: 500px;
    width: 100%;
}
.home-project-card p {
    clear: left;
    font-family: Lato;
    line-height: 1.5;
}
.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.project-tech p {
    background-color: #ECECEC;
}
.education p {
    line-height: 1.5;
}
#coursework {
    margin-bottom: 40px;
}
.courses p {
    padding: 11.25px 15px 11.25px 15px;
}



































/* Footer */
footer {
    height: 120px;
    background-color: #FDFDFD;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Lato;
    font-weight: bold;
    color: #2D2D36;
    transition: .3s;
}
footer img {
    margin: 0 5px;
}
footer img:hover {
    background-image: url(./icons/heart-fill.svg);
    transition: .3s;
}








/* Projects */
.swiper {
    max-width: 100%;
    border-radius: 30px;
    border: #00000030 2px solid;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next, .swiper-button-prev {
    background-color: #00000040;
    padding: 30px 20px;
    border-radius: 30px;
    color: #ECECEC !important;
}

.projects {
    display: flex;
    flex-direction: column;
}
.projects-redirect {
    line-height: 1.5;
}
.project {
    margin: 30px 0;
    border: #00000030 2px solid;
    padding: 10px;
    border-radius: 30px;
    background-color: #FDFDFD;
    transition: .3s;
    max-width: calc(100vw - 40px);
}
.project p {
    line-height: 1.5;
}

.project:first-of-type {
    margin-top: 40px;
}
.project:last-of-type {
    margin-bottom: 40px;
}


















.about-content {
    display: flex;
    flex-direction: column;
}
.bio-top {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}




.about-intro {
    max-width: 36ch;
    font-size: 15pt;
    line-height: 1.3;
}
.line {
    height: 2px;
    width: calc(90% - 40px);
    background-color: #00000030;
    margin: 25px 0 25px 0;
}
.about-end {
    margin-bottom: 40px;
    line-height: 1.5;
}
#portrait {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: #00000030 2px solid;
    transition: .3s;
}
#portrait.blow-up {
    transform: scale(1.75) translateX(-45%);
    transition: .3s;
}

































.email-name {
    margin: 40px 0 20px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.email-name #email-input {
    flex-grow: 1;
}
.email-name #name-input {
    flex-grow: 1;
}
#subject-input {
    width: 100%;
    margin-bottom: 15px;
}
input, #message-box {
    background-color: #FDFDFD;
    border-radius: 30px;
    border: #00000030 2px solid;
    padding: 11.25px 15px 11.25px 15px;

    transition: .3s;
    color: #2D2D36;
}
input:focus, #message-box:focus {
    border: #45C6A6 2px solid;
    transition: .3s;
    outline: none;
}
#message-box {
    width: 100%;
    max-width: 100%;
    height: 25vh;
    color: #2D2D36;
    font-family: Lato;
    margin: 0;
}
#submit-button {
    margin: 15px 0 40px 0;
    border-radius: 30px;
    padding: 11.25px 15px 11.25px 15px;
    outline: #00000030 2px solid;
    border: none;
    background-color: #45C6A6;
    color: #2D2D36;
    font-size: 10pt;
    font-weight: bolder;
}





















@media (width <= 730px) {
    #desktop-nav-container {
        display: none;
    }
}
@media (width > 730px) {
    #mobile-nav-container {
        display: none;
    }
}
@media (width <= 540px) {
    .main-content {
        margin: 0 20px 0 20px;
    }
}
@media (pointer: fine) {
    .project:hover {
        border: #45C6A6 2px solid;
        transition: .3s;
        transform: scale(1.04);
    }
    .socials a:hover {
        transform: scale(1.1);
        transition: .3s;
    }
    .socials button:hover {
        transform: scale(1.04);
        transition: .3s;
    }
}